<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Matt Chandler">
  <meta name="copyright" content="Matt Chandler">
  <meta name="description" content="Writings and more from Matt Chandler, a full stack developer">
  <link rel="alternate" type="application/atom+xml" title="{{ page.title }}" href="{{ site.url }}/feed.xml">
  <title>{{ page.title }}</title>
  {% asset app.css %}
  {% asset analytics.js %}
</head>
<body>
  <header>
    <h1><a href="/">Matt Chandler</a></h1>
    <nav>
      <ul>
        <li><a href="{{ site.url }}/tech">tech</a></li>
        <li><a href="{{ site.url }}/photography">photography</a></li>
        <li><a href="{{ site.url }}/talks">talks</a></li>
        <li><a href="{{ site.url }}/about">about</a></li>
      </ul>
    </nav>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    <span class="footer-contact">
      <a href="https://twitter.com/mkchandler/">twitter</a> / <a href="https://github.com/mkchandler/">github</a> / <a href="{{ site.url }}/feed.xml">rss</a>
    </span>
  </footer>
</body>
</html>
